h1{
  font-family: 'Inconsolata', monospace;
}
.pleca{
  background: grey;
  width: 100px;
  height: 5px;
}
.bloque1{
  position: relative;
  top: 30px;
}
.bloque2{
  position: relative;
  top: 60px;
}
.image1, .image4{
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
}
.image2, .image3, .image5, .image6{
  display: inline-block;
  position: relative;
  margin-left: 30px;
  width: 250px;
  height: 250px;
}
.name{
  position: relative;
  color: grey;
  font-family: 'Inconsolata', monospace;
  left: 102px;
  top: 206px;
}
.image1{
  background-image:url("C:/Users/evepa/Documents/laboratoria/sprint2_html_css/nuestras_coders_mejorado/nuestras_coders/assets/images/Berenice Rougerio.JPG");
  background-size: cover;
}.image2{
  background-image:url("C:/Users/evepa/Documents/laboratoria/sprint2_html_css/nuestras_coders_mejorado/nuestras_coders/assets/images/Evelyn Cruz.JPG");
  background-size: cover;
}
.image3{
  background-image:url("C:/Users/evepa/Documents/laboratoria/sprint2_html_css/nuestras_coders_mejorado/nuestras_coders/assets/images/Gorety Carbajal.JPG");
  background-size: cover;
}
.image4{
  background-image:url("C:/Users/evepa/Documents/laboratoria/sprint2_html_css/nuestras_coders_mejorado/nuestras_coders/assets/images/Ingrid Sagrero.JPG");
  background-size: cover;
}
.image5{
  background-image:url("C:/Users/evepa/Documents/laboratoria/sprint2_html_css/nuestras_coders_mejorado/nuestras_coders/assets/images/Laura Martinez.JPG");
  background-size: cover;
}
.image6{
  background-image:url("C:/Users/evepa/Documents/laboratoria/sprint2_html_css/nuestras_coders_mejorado/nuestras_coders/assets/images/Rosaura Rendon.JPG");
  background-size: cover;
}
